<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lieverandiver.thesisproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InputAttendance_Cardview" />
        <activity android:name=".SubjectViewActivity" />
        <activity android:name=".ExamAddActivity" />

        <activity android:name=".Activity_A_Add_Activity" />
        <activity android:name=".Activity_A_Input_Activity" />
        <activity android:name=".Activity_A_Result_Activity" />
        <activity android:name=".Activity_B_Add_Assignment" />
        <activity android:name=".Activity_B_Input_Assignment" />
        <activity android:name=".Activity_B_Result_Assignment" />
        <activity android:name=".Activity_D_Add_Exam" />
        <activity android:name=".Activity_D_Input_Exam" />
        <activity android:name=".Activity_D_Result_Exam" />
        <activity android:name=".Activity_E_Add_Project"/>
        <activity android:name=".Activity_E_Input_Project" />
        <activity android:name=".Activity_E_Result_Project" />
        <activity android:name=".Activity_F_Add_Quiz" />
        <activity android:name=".Activity_F_Input_Quiz" />
        <activity android:name=".Activity_F_Result_Quiz" />


        <activity android:name=".AttendanceInputActivity" />


        <activity android:name=".Activity_Class_View_Assignment" />
        <activity android:name=".Activity_Class_View_Exam" />
        <activity android:name=".Activity_Class_View_Project" />
        <activity android:name=".Activity_Class_View_Quiz" />


        <activity android:name=".StudentViewActivity" />
        <activity android:name=".ScheduleViewActivity" />


        <activity android:name=".ClassViewActivity" />
        <activity android:name=".GradingCriteriaActivity" />
        <activity android:name=".ActivityInputExam" />
        <activity android:name=".QuizActivity_View" />
        <activity android:name=".QuizActivity_Add" />
        <activity android:name=".StudentActivity_Profile_Grade" />
        <activity android:name=".QuizActivity_View_Record" />
        <activity android:name=".AssignmentInputActivity"/>
        <activity android:name=".CriteriaMidtermInputActivity" />
        <activity android:name=".CriteriaFinaltermInputActivity" />
        <activity android:name=".TeacherViewActivity" />
        <activity android:name=".MainActivity2" />

        <activity android:name=".AttendanceAddActivity" />
        <activity android:name=".AttendanceResultViewActivity" />

    </application>

</manifest>