<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lieverandiver.thesisproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InputAttendance_Cardview" />
        <activity android:name=".SubjectViewActivity" />

        <activity android:name=".ActivityAddActivity" />
        <activity android:name=".ActivityInputActivity" />
        <activity android:name=".ActivityResultActivity" />
        <activity android:name=".AssignmentAddActivity" />
        <activity android:name=".AssignmentInputActivity" />
        <activity android:name=".AssignmentResultActivity" />
        <activity android:name=".AttendanceAddActivity" />
        <activity android:name=".AttendanceInputActivity" />
        <activity android:name=".AttendanceResultViewActivity"/>
        <activity android:name=".ExamAddActivity" />
        <activity android:name=".ExamInputActivity" />
        <activity android:name=".ExamResultActivity" />
        <activity android:name=".ProjectAddActivity" />
        <activity android:name=".ProjectInputActivity" />
        <activity android:name=".ProjectResultActivity" />
        <activity android:name=".QuizAddActivity" />
        <activity android:name=".QuizInputActivity" />
        <activity android:name=".QuizResultActivity" />

        <activity android:name=".ActivityAddActivityF" />
        <activity android:name=".ActivityInputActivityF" />
        <activity android:name=".ActivityResultActivityF" />
        <activity android:name=".AssignmentAddActivityF" />
        <activity android:name=".AssignmentInputActivityF" />
        <activity android:name=".AssignmentResultActivityF" />

        <activity android:name=".ExamAddActivityF" />
        <activity android:name=".ExamInputActivityF" />
        <activity android:name=".ExamResultActivityF" />
        <activity android:name=".ProjectAddActivityF" />
        <activity android:name=".ProjectInputActivityF" />
        <activity android:name=".ProjectResultActivityF" />
        <activity android:name=".QuizAddActivityF" />
        <activity android:name=".QuizInputActivityF" />
        <activity android:name=".QuizResultActivityF" />


        <activity android:name=".Activity_Class_View_Assignment" />
        <activity android:name=".Activity_Class_View_Exam" />
        <activity android:name=".Activity_Class_View_Project" />
        <activity android:name=".Activity_Class_View_Quiz" />


        <activity android:name=".StudentViewActivity" />
        <activity android:name=".ScheduleViewActivity" />


        <activity android:name=".ClassViewActivity" />
        <activity android:name=".GradingCriteriaActivity" />
        <activity android:name=".QuizActivity_View" />
        <activity android:name=".GradeViewActivity" />
        <activity android:name=".QuizActivity_View_Record" />
        <activity android:name=".CriteriaMidtermInputActivity" />
        <activity android:name=".CriteriaFinaltermInputActivity" />
        <activity android:name=".TeacherViewActivity" />
        <activity android:name=".MainActivity2" />

        <activity android:name=".GradeResultActivity" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>